[Unit]
Description=Crypto Paper Exchange Ledger Refresh Timer

[Timer]
OnBootSec=60s
OnUnitActiveSec=60s
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
